body {
  margin: 0px;
  padding: 0px;
  color: #fff;
  background-image: url(Componets/img/bgimg.png);
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header img {
  width: 300px;
  height: 250px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.row > .search_header{
  text-align: center;
}
.search_header h3 span{
  color:#88a9e8;
}
.search_header p{
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 200;
}
.search {
  text-align: center;
  font-size: 18px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  color:#9e9ea0 ;
  background-color: #45455e;
  border: 0px;
}

.scardDay{
  background-image: url(./Componets/img/PartlySunnyBg.png);
  margin-top:50px ;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  font-size: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scardNigth{
  background-image: url(./Componets/img/PartlySunnyNightBg.png);
  margin-top:50px ;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  font-size: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.row1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} 

.col-left{
  display: flex;
  align-items: center;
  font-size: 50px;

}
.col-rigth{
  display: flex;
  align-items: flex-end;
  width: 320px;
  height: 320px;
}

.images {
  width: 180px;
  height: 180px;
}